.Welcome {
  overflow: hidden;
  /*background: darkmagenta;*/
}

.Welcome > .inner {
  margin: auto;
  max-width: 1024px;
}


.Welcome h1 {
  text-align: center;
  color: #333333;
  margin: 100px 0 0px;
  font-weight: 400;
  font-size: 40px;
}
.Welcome h2 {
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0 0px;
}

.Welcome .trainings-list {
  margin: 50px auto 0px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.Welcome .trainings-list a {
  display: block;
  width: 150px;
  margin: 20px;
  text-decoration: none;
  transition: all 0.3s;
}
.Welcome img {
  max-width: 100%;
}

.Welcome .trainings-list a:hover {
  transform: scale(1.1, 1.1);
}